body {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content] minmax(0, 600px) 1fr [full-end];
}
header,
footer,
main,
section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  > :not(&) {
    grid-column: content;
  }
}

.breakout{
  background: greenyellow;

  @media(width > 680px){
    div{
      grid-template-columns: 1fr 1fr;
    }
  }
}